@import '~bootstrap/scss/bootstrap';

$alert: #f00;
$base: #fff;
$highlight: #800080;
$border: 2px solid #000;
$disable: #888;
$disable-light: #ddd;
$success: #32cd32;

body {
  background: $base;
}

header {
  text-align: center;
}

h1 {
  font-size: 6em;
  text-shadow: 2px 2px $highlight;
}

h2 {
  font-size: 5em;
  text-align: center;
  text-shadow: 2px 2px $highlight;
}

input {
  margin: auto;
}

li {
  display: inline;
  padding: 1em;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: auto;
}

.border {
  border: $border;
  border-radius: 25%;
  margin: 50px auto;
  padding: 20px;
  width: 50%;
}

.bottom {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.button {
  background-color: $disable-light;
  border: 0;
  border-radius: 25%;
  display: inline-block;
  margin: auto 5px;
  text-align: center;
  text-decoration: none;
}

.sign-out {
  color: $alert;
}

.disable {
  color: $disable;
  pointer-events: none;
}

.display {
  display: flex;
  flex-flow: nowrap row;
}

.game-disable {
  background-color: $disable-light;
  color: $disable;
  pointer-events: none;
}

.failure {
  background-color: $alert;
}

.form {
  display: flex;
  flex-flow: nowrap column;
  text-align: center;
}

.hidden {
  display: none;
}

.square {
  align-items: center;
  display: flex;
  font-size: 8em;
  height: 20vh;
  justify-content: center;
  text-shadow: 2px 2px $highlight;
}

.top {
  border-bottom: $border;
}

.mid {
  border-left: $border;
  border-right: $border;
}

.success {
  background-color: $success;
}

.instructions {
  display: block;
  margin: auto;
  width: 60%;
}

.title-page {
  margin: 10em;
  text-align: center;
}
