@import '~bootstrap/scss/bootstrap';

header {
  display: flex;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
  text-align: center;
}

input {
  margin: auto;
}

li {
  display: inline;
  padding: 1em;
}

nav {
  display: block;
  list-style-type: none;
  margin: auto;
}

.border {
  border: 200px solid $black;
  border-radius: 25%;
  margin: 25px auto;
  padding: 20px;
  width: 50%;
}

.bottom {
  display: flex;
}

.sign-out {
  color: red;
}

.disable {
  color: gray;
  pointer-events: none;
}

.display {
  display: flex;
  flex-flow: nowrap row;
}

.game-disable {
  background-color: #dddddd;
  color: gray;
  pointer-events: none;
}

.failure {
  background-color: magenta;
}

.form {
  display: flex;
  flex-flow: nowrap column;
  margin: 5em;
  text-align: center;
}

.hidden {
  display: none;
}

.square {
  border: 2px solid;
  height: 7em;
  text-align: center;
}

.success {
  background-color: limegreen;
}

.instructions {
  display: block;
  margin: auto;
  width: 50%;
}

.title-page {
  margin: 10em;
  text-align: center;
}
